*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #545454;
    --white-color: #FFFFFF;
    --bg-main-color: #F6F6F6;
    --bg-white-color: #FFFFFF;
    --card-background-color: #FAFAFA;
}

html,
.page {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;

    color: var(--main-color);
    background-color: var(--bg-main-color);
}

.page__inner {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.page._lock {
    overflow: hidden;
}

.container {
    max-width: 1240px;
    /* 1200px + 20px + 20px */
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    transition: all 0.3s ease;
}

.link {
    cursor: pointer;
    transition: all 0.3s ease;
}

.link:hover,
.link:focus {
    opacity: .75;
}

.link:active {
    opacity: 1;
}

/*  -------------------------  Header styles start -------------------------------  */

.start-screen {
    /* min-height: 100vh;  pouvilsa otstup snizu*/
    /*   no write max-height if change (rise) content */
    background-color: #211F20;
    background-image: url(../../assets/images/start-screen-gradient-background.png);
    background-repeat: no-repeat;
    /* background-image: url(../assets/images/start-screen-background.jpg) no-repeat center; */
    background-size: cover;
}

.header__content {
    padding-top: 30px;
    margin-bottom: 90px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo__link {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;

    color: #F1CDB3;
}

.logo__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;

    letter-spacing: 0.1em;

    color: var(--white-color);
}

.menu__icon {
    display: none;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

.menu__link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

    color: #CDCDCD;
}

.menu__link:hover {
    color: #FAFAFA;
    opacity: 1;
}

.menu__link_active,
.menu__link:active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.menu__link_active:hover {
    cursor: default;
}

/*  -----------------  Header styles end  --------------------- */


/*  -----------------  Блок Not only  --------------------- */

.start-screen__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}

.start-screen__text {
    padding-top: 163px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
}

.start-screen__text .title {
    max-width: 310px;

    font-size: 44px;
    line-height: 130%;

    color: var(--white-color);
}

.start-screen__text .subtitle {
    max-width: 460px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

    color: #CDCDCD;
}

.btn-link,
.btn_make-a-friend {
    padding: 14.5px 44.5px;

    letter-spacing: 0.06em;
    color: #292929;
    background: #F1CDB3;
    border-radius: 100px;
    border: 0;
}

.btn-link:hover,
.btn_make-a-friend:hover {
    background: #FDDCC4;
}

.btn-link:active,
.btn_make-a-friend:active {
    background: #F1CDB3;
}

/*  ------------------------  About  ------------------------- */

.section_about {
    background-color: var(--bg-white-color);
}

.about__content {
    padding: 80px 0 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 25px;
}

.about__text .title {
    max-width: 370px;

    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.about__text .subtitle {
    max-width: 430px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

    color: #4C4C4C;
}

/* ----------------------  Start styles Pets  -------------------------- */

.pets__content {
    padding: 80px 0 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.pets__title {
    max-width: 400px;

    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
}

.pets__slider {
    width: 1200px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.btn_arrow {
    width: 52px;
    height: 52px;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;
    color: #292929;
    /* text-align: center; */
}

.btn_arrow:hover {
    background: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.btn_arrow:active {
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
}

.btn_arrow_inactive {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

/* -------------- slider - carousel -------------- */

.carousel-wrapper {
    width: 990px;
    /*  270*3 + 90*2 = 810+180 */
    margin: 0 53px;
    overflow: hidden;
}

.carousel {
    display: flex;

    position: relative;
    left: -990px;
}

@keyframes move-right {
    from {
        left: -990px;
    }

    to {
        left: -1980px;
    }
}

.transition-right {
    animation-name: move-right;
    animation-duration: 5s;
}

@keyframes move-left {
    from {
        left: -990px;
    }

    to {
        left: 0px;
    }
}

.transition-left {
    animation-name: move-left;
    animation-duration: 5s;
}

.item {
    display: flex;
    gap: 90px;
}

.card {
    width: 270px;
    height: 435px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    overflow: hidden;

    background: var(--card-background-color);
    border-radius: 9px;

    transition: all 0.6s ease;
    cursor: pointer;
}

.card:hover {
    background: var(--bg-white-color);
    box-shadow: 0px 3px 5px 0px rgba(27, 26, 26, 0.5);
    /* background-color: darken(var(--card-background-color), 15%); */
}

.card__img {
    border-radius: 9px 9px 0px 0px;
    transition: all 0.6s ease;
}

.card:hover .card__img {
    transform: scale(1.05);
}

.card:hover .btn_learn-more {
    background-color: #F1CDB3;
    transition: all 0.6s ease;
}

.card__title {
    font-size: 20px;
    letter-spacing: 0.06em;
}

.btn_learn-more {
    padding: 13px 43px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #292929;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;

    transition: all 0.6s ease;
}

.btn_learn-more:active { 
    opacity: 0.8;
}

/* ----------------------  Pets styles end -------------------------- */


/* ----------------------  Help styles start -------------------------- */

#help {
    background: var(--bg-white-color);
}

.help__content {
    padding: 80px 0px 100px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.help__content .title {
    max-width: 318px;

    display: flex;
    align-items: center;
    text-align: center;

    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.help__list {
    max-width: 1030px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 120px;
    row-gap: 54px;
}

.help__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;

    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

/* ----------------------  Help styles end -------------------------- */


/* ----------------------  Donation styles start -------------------------- */

.donation__container {
    max-width: 955px;
    margin: 0 auto;
}

.donation__content {
    padding: 80px 0px 100px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.donation__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.donation__text .title {
    max-width: 300px;

    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

.donation__text .subtitle {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

.donation__credit-card {
    max-width: 349px;
    padding: 9px 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;

    background: #F1CDB3;
    border-radius: 9px;
}

.donation__credit-card:hover {
    background: #FDDCC4;
}

.donation__credit-card:active{
    background: #F1CDB3;
}

.donation__description {
    max-width: 380px;

    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #B2B2B2;
}

/* ----------------------  Donation styles end -------------------------- */


/* ------------------- popup ------------------ */

.popup_hidden {
    display: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 15;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 900px;
    height: 500px;
    border-radius: 9px;
    background-color: #FAFAFA;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/* Footer styles start */

.footer {
    background-color: #211F20;
    background-image: url(../../assets/images/footer-gradient-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(../assets/images/start-screen-background.jpg) no-repeat center; */
}

.footer__content {
    padding: 40px 0px 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts,
.footer__locations {
    padding: 16px 0px 60px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer__contacts {
    max-width: 288px;
    gap: 40px;
}

.footer__locations {
    width: 312px;
    gap: 34px;
}

.footer__contacts .title,
.footer__locations .title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: var(--white-color);
}

.link_mail,
.link_phone,
.link_Boston,
.link_London {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

/* Footer styles end */


/*  ==============================================================================  */
/*  ===========================  Media styles start  =============================  */
/*  ==============================================================================  */

/* -----------  @media screen and (max-width: 768px)  -------------- */

@media screen and (max-width: 1220px) {

    /* @media screen and (max-width: 1279.98px)  */

    .container {
        max-width: 748px;
        /* 708px + 20px + 20px */
        margin: 0 auto;
    }

    .header__content {
        margin-bottom: 60px;
    }

    /* Блок Not only */

    .start-screen__content {
        justify-content: center;
        align-items: center;
        gap: 100px;
    }

    .start-screen__text {
        padding-top: 0px;
    }

    .btn_make-a-friend {
        margin-left: 126.5px;
    }

    .start-screen__img-puppy {
        /* width: 569px;
        height: 593px; */
        margin-left: 142px;
    }

    /* About-content */

    .about__content {
        flex-direction: column-reverse;
        gap: 80px;
    }

    /* Pets */

    .pets__slider {
        max-width: 708px;
    }

    .carousel-wrapper {
        width: 580px;
        /*  270*2 + 40*1 = 540+40 */
        margin: 0 12px;
        overflow: hidden;
    }

    .carousel {
        position: relative;
        left: -580px;
    }

    @keyframes move-right {
        from {
            left: -580px;
        }

        to {
            left: -1160px;
        }
    }

    @keyframes move-left {
        from {
            left: -580px;
        }

        to {
            left: 0px;
        }
    }

    .item {
        gap: 0px;
        /* gap: 40px; */
    }

    .card {
        margin-right: 30px;
    }

    /* Help */

    .help__list {
        max-width: 630px;
        column-gap: 62px;
        justify-content: space-around;
    }

    /* Donation */

    .donation__content {
        justify-content: center;
        flex-direction: column-reverse;
        gap: 60px;
    }

    /* popup */

    /* .popup {
        width: 630px;
        height: 350px;
      } */

    /* Footer */

    .footer__content {
        padding: 30px 0px 0px;
        justify-content: center;
        gap: 50px;
    }

    .footer__contacts,
    .footer__locations {
        padding: 0px 0px 15px;
    }

}

/* ============================================================================= */
/* -----------  @media screen and (max-width: 320px)  ---------------- */
/* @media (max-width: 767px) */

@media screen and (max-width: 767px) {

    .container {
        max-width: 340px;
        /* 300px + 20px + 20px */

        margin: 0 auto;
    }

    .header_wrapper {
        /* width: 257px;
        padding: 0;
        padding-top: 30px;
        justify-content: space-between; */
    }

    .menu__icon {
        width: 30px;
        height: 22px;

        z-index: 5;

        display: block;

        position: relative;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        width: 100%;
        height: 2px;

        position: absolute;
        left: 0;

        transition: all 0.3s ease 0s;
        background-color: #F1CDB3;
    }

    /* .menu__icon span, */
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: translateY(-50%);
        /* strogo po centerv */
        /* transform: scale(1) translate(0px, -50%); */
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon._active {
        transform: rotate(90deg);

        /* transform: scale(0) translate(0px, -50%); */
    }

    .menu__icon._active span {
        /* transform: scale(0) translate(0px, -50%); */
    }

    .menu__icon._active::before {
        /* top: 50%; */
        /* left: 0; */
        /* transform: rotate(90deg); */
        /* transform: rotate(90deg) translate(0px, -50%); */
    }

    .menu__icon._active::after {
        /* right: 0; */
        /* transform: rotate(90deg); */
        /* transform: rotate(90deg) translate(0px, 50%); */
    }

    .menu__body {
        width: 320px;
        height: 100%;
        padding-top: 250px;

        position: fixed;
        top: 0;
        right: -100%;

        background: #292929;

        transition: right 0.3s ease 0s;
        overflow: auto;
        /* scroll menu  */
    }

    .menu__body._active {
        right: 0;
    }

    /* .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 90px;
        background-color: var(--bg-main-color);
        z-index: 2;
    } */

    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .menu__link {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;

        color: #CDCDCD;
    }

    /* ---------------------------- */

    /* Блок Not only */

    .start-screen__content {
        justify-content: center;
        align-items: center;
        /* text-align: center; */
        gap: 110px;
    }

    .start-screen__text {
        justify-content: center;
        align-items: center;
    }

    .start-screen__text .title {
        max-width: 230px;
        text-align: center;
        font-size: 25px;
    }

    .start-screen__text .subtitle {
        text-align: center;
        font-size: 14.46px;
    }

    .btn_make-a-friend {
        margin-left: 0px;
    }

    .start-screen__img-puppy {
        width: 260px;
        height: 271.77px;

        margin-left: 0px;
    }

    /* About-content */

    .about__content {
        padding: 42px 0 42px;

        justify-content: center;
        gap: 40px;
    }

    .about__text {
        gap: 22px;
    }

    .about__text .title {
        font-size: 25px;
        text-align: center;
    }

    .about__text .subtitle {
        padding: 0 5px;
        text-align: justify;
    }

    .about__img-pets {
        width: 260px;
        height: 353.6px;
    }

    /* Pets */

    .pets__content {
        padding: 42px 0 42px;
    }

    .pets__title {
        font-size: 25px;
    }

    .pets__slider {
        width: 270px;
        margin-bottom: 42px;
        justify-content: space-around;
    }

    .carousel-wrapper {
        width: 270px;
        /*  270*1 + 40*0 = 270 */
        margin: 0 0px;
        overflow: hidden;
    }

    .carousel {
        position: relative;
        left: -270px;
    }

    @keyframes move-right {
        from {
            left: -270px;
        }

        to {
            left: -540px;
        }
    }

    @keyframes move-left {
        from {
            left: -270px;
        }

        to {
            left: 0px;
        }
    }

    .item {
        gap: 0px;
    }

    #btn-left {
        order: 2;
        margin-top: 20px;
        /* margin-bottom: 42px; */
    }

    #carousel-wrapper {
        order: 1;
    }

    #btn-right {
        order: 3;
        margin-top: 20px;
    }

    /* Help */

    .help__content {
        /* max-width: 270px; */
        padding: 42px 0 12px;
    }

    .help__content .title {
        max-width: 220px;
        margin-bottom: 42px;
        font-size: 25px;
    }

    .help__list {
        /* row-gap: 10px; */
        /* justify-content: space-between; */
    }

    .help__item {
        /* width: 130px; */
    }

    .help__link {
        gap: 10px;
        font-size: 15px;
    }

    /* Donation */

    .donation__content {
        padding: 42px 0;
        gap: 45px;
    }

    .donation__text {
        gap: 23px;
        align-items: center;
    }

    .donation__content .title {
        max-width: 210px;
        font-size: 25px;
        text-align: center;
    }

    .donation__content .subtitle {
        text-align: center;
        font-size: 13.6px;
    }

    .donation__credit-card {
        font-size: 15px;
    }

    .donation__description {
        text-align: justify;
    }

    .donation__img-dog {
        width: 260px;
        height: 135.2px;
    }


    /* popup */

    /* .popup {
  width: 80vw;
    height: 50vh;
    min-height: 340px;
} */



    /* Footer */

    .footer__content {
        justify-content: center;
        gap: 24px;
    }

    .footer__contacts,
    .footer__locations {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer__locations {
        gap: 40px;
    }

    .footer__contacts .title,
    .footer__locations .title {
        font-size: 25px;
    }

    .link_Boston {
        font-size: 18.8px;
    }

    .footer__img-puppy {
        width: 260px;
        height: 269px;
    }

}

/* ----------------------  Media styles end -------------------------- */