*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html {
    scroll-behavior: smooth;
}

:root {
    --main-color: #545454;
    --white-color: #FFFFFF;
    --bg-main-color: #F6F6F6;
    --bg-white-color: #FFFFFF;
    --card-background-color: #FAFAFA;
}

html,
.page {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;

    color: var(--main-color);
    background-color: var(--bg-main-color);
}

.page__inner {
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

.page._lock {
    overflow: hidden;
}

.shadow {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transition: 0.5s ease-in-out;
}

.shadow_active {
    z-index: 250;
    /* background: rgba(0, 0, 0, .5); */
    background: rgba(41, 41, 41, 0.6);
}

.container {
    max-width: 1240px;
    /* 1200px + 20px + 20px */
    padding: 0 20px;
    margin: 0 auto;
}

.btn {
    cursor: pointer;
    transition: all 0.3s ease;
}

.link {
    cursor: pointer;
    transition: all 0.3s ease;
}

.link:hover,
.link:focus {
    opacity: .75;
}

.link:active {
    opacity: 1;
}

/*  -------------------------  Header styles start -------------------------------  */

.header {
    background: #FFFFFF;
}

.header__content {
    padding: 30px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo__link {
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;

    color: #545454;
}

.logo__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;

    color: #292929;
}

.menu__icon {
    display: none;
}

.menu__list {
    padding: 16px 0;

    display: flex;
    flex-wrap: wrap;
    gap: 36px;
}

.menu__link {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

    color: #545454;
}

.menu__link:hover {
    color: #292929;
    opacity: 1;
}

.menu__link_active,
.menu__link:active {
    color: #545454;
    border-bottom: 3px solid #F1CDB3;
}

.menu__link_active:hover {
    color: #545454;
    cursor: default;
}

/*  -----------------  Header styles end  --------------------- */

/* Main styles start */

.main {
    background: #F6F6F6;
}

.main__content {
    padding: 80px 0 99px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.title {
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;

    color: #545454;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 40px;
}

.card {
    width: 270px;
    height: 435px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    overflow: hidden;

    background: var(--card-background-color);
    border-radius: 9px;

    transition: all 0.6s ease;
    cursor: pointer;
}

.card:hover {
    background: var(--bg-white-color);
    box-shadow: 0px 3px 5px 0px rgba(27, 26, 26, 0.5);
    /* background-color: darken(var(--card-background-color), 15%); */
}

.card__img {
    border-radius: 9px 9px 0px 0px;
    transition: all 0.6s ease;
}

.card:hover .card__img {
    transform: scale(1.05);
}

.card:hover .btn_learn-more {
    background-color: #F1CDB3;
    transition: all 0.6s ease;
}

.card__title {
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;

    color: #545454;
}

.btn_learn-more {
    padding: 12.5px 43px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #292929;

    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: transparent;

    transition: all 0.6s ease;
}

.btn_learn-more:active {
    opacity: 0.8;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-paginator {
    width: 52px;
    height: 52px;

    border: 2px solid #F1CDB3;
    border-radius: 100px;

    font-size: 20px;
    line-height: 115%;
    text-align: center;
    letter-spacing: 0.06em;

    color: #292929;
    background-color: transparent;
}

.btn-paginator:hover {
    border: 2px solid #FDDCC4;
    background: #FDDCC4;
}

.btn-paginator_active,
.btn-paginator_active:hover,
.btn-paginator:active {
    background: #F1CDB3;
    border: 2px solid #F1CDB3;
}

.btn-paginator_inactive,
.btn-paginator_inactive:hover,
.btn-paginator_inactive:active {
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
    background-color: transparent;
    cursor: no-drop;
}

/* Main styles end */

/* Footer styles start */

.footer {
    background-color: #211F20;
    background-image: url(../../assets/images/footer-gradient-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url(../assets/images/start-screen-background.jpg) no-repeat center; */
}

.footer__content {
    padding: 40px 0px 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts,
.footer__locations {
    padding: 16px 0px 60px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.footer__contacts {
    max-width: 288px;
    gap: 40px;
}

.footer__locations {
    width: 312px;
    gap: 34px;
}

.footer__contacts .title,
.footer__locations .title {
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    text-align: left;

    color: var(--white-color);
}

.link_mail,
.link_phone,
.link_Boston,
.link_London {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

/* Footer styles end */

/* ------------------- popup pets ------------------ */

.popup {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    /* opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s ease; */

    width: 100%;
    height: 100%;
    background-color: rgba(41, 41, 41, 0.6);
}

.popup._active {
    display: block;
    /* opacity: 1; */
}

@keyframes display {
    from {
       opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.display-popup {
    animation-name: display;
    animation-duration: 1s;
}

.popup__container {
    width: 100%;
    height: 100%;
    /* background-color: rgba(41, 41, 41, 0.6); */

    display: flex;
    justify-content: center;
    align-items: center;

    /* position: fixed;
    top: 50%;
    left: 50%; 
    z-index: 15;
    -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%); */
}

.popup__btn {
    position: absolute;
    width: 52px;
    height: 52px;

    left: 890px;
    top: -50px;

    border: 2px solid #F1CDB3;
    border-radius: 100px;

    color: #292929;
    background-color: transparent;

    transition: all 0.6s ease;
}

.popup__btn:hover {
    border: 2px solid #FDDCC4;
    background: #FDDCC4;
}

.popup__btn:active {
    border: 2px solid #F1CDB3;
    background: #F1CDB3;
}

.popup__content {
    width: 900px;
    height: 500px;

    position: relative;

    display: flex;
    gap: 30px;

    background: #FAFAFA;
    border-radius: 9px;

    cursor: pointer;
    transition: all 0.3s ease;
}

.popup__content:hover {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.popup__img {
    /* width: 500px; */
    /* height: 500px; */
    /* background-color: #211F20; */
    /* background-image: url(../../assets/images/pets-jennifer.png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */

    border-radius: 9px 0px 0px 9px;
}

.popup__text {
    padding: 50px 20px 0 0;
}

.popup__name {
    margin-bottom: 10px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #000000;
}

.popup__type-breed {
    margin-bottom: 40px;

    display: flex;
    gap: 5px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;

    color: #000000;
}

.popup__description {
    margin-bottom: 40px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;

    color: #000000;
}

.popup__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.popup__item {
    display: flex;
    align-items: center;
    gap: 8px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;

    color: #000000;
}

.dot {
    width: 4px;
    height: 4px;
    border-radius: 10px;
    background: #F1CDB3;
}

.popup__item-info {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 105%;
    letter-spacing: 0.06em;

    color: #000000;
}

/*  ==============================================================================  */
/*  ===========================  Media styles start  =============================  */
/*  ==============================================================================  */

/* -----------  @media screen and (max-width: 768px)  -------------- */

@media screen and (max-width: 1220px) {

    /* @media screen and (max-width: 1279.98px)  */

    .container {
        max-width: 748px;
        /* 708px + 20px + 20px */
        margin: 0 auto;
    }

    .header__content {
        /* margin-bottom: 60px; */
    }

    /* Main */

    .main__content {
        padding-bottom: 75px;
        gap: 30px;
    }

    .cards-container {
        height: 1374px;
        overflow: hidden;
    }

    /* Footer */

    .footer__content {
        padding: 30px 0px 0px;
        justify-content: center;
        gap: 50px;
    }

    .footer__contacts,
    .footer__locations {
        padding: 0px 0px 15px;
    }

    /* popup */

    .popup__btn {
        left: 621px;
    }

    .popup__content {
        width: 630px;
        height: 350px;
        gap: 11px;
    }

    .popup__img {
        width: 350px;
        height: 350px;
    }

    .popup__text {
        padding: 10px 9px 0 0;
    }

    .popup__type-breed {
        margin-bottom: 20px;
    }

    .popup__description {
        margin-bottom: 20px;

        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 110%;
        letter-spacing: 0.06em;

        color: #000000;
    }

}

/* ============================================================================= */
/* -----------  @media screen and (max-width: 320px)  ---------------- */
/* @media (max-width: 767px) */

@media screen and (max-width: 767px) {

    .container {
        max-width: 340px;
        /* 300px + 20px + 20px */

        margin: 0 auto;
    }

    .menu__icon {
        width: 30px;
        height: 22px;

        z-index: 999;

        display: block;

        position: relative;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        width: 100%;
        height: 2px;

        position: absolute;
        left: 0;

        transition: all 0.3s ease 0s;
        background-color: #000000;
    }

    /* .menu__icon span, */
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: translateY(-50%);
        /* strogo po centerv */
        /* transform: scale(1) translate(0px, -50%); */
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon:hover {
        opacity: 0.5;
    }

    .menu__icon._active {
        transform: rotate(90deg);

        /* transform: scale(0) translate(0px, -50%); */
    }

    .menu__icon._active span {
        /* transform: scale(0) translate(0px, -50%); */
    }

    .menu__icon._active::before {
        /* top: 50%; */
        /* left: 0; */
        /* transform: rotate(90deg); */
        /* transform: rotate(90deg) translate(0px, -50%); */
    }

    .menu__icon._active::after {
        /* right: 0; */
        /* transform: rotate(90deg); */
        /* transform: rotate(90deg) translate(0px, 50%); */
    }

    .menu__body {
        width: 320px;
        height: 100%;
        padding-top: 250px;

        position: fixed;
        top: 0;
        right: -100%;
        z-index: 998;

        background: #FFFFFF;

        transition: right 0.3s ease 0s;
        overflow: auto;
        /* scroll menu  */
    }

    .menu__body._active {
        right: 0;
    }

    /* .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 90px;
        background-color: var(--bg-main-color);
        z-index: 2;
    } */

    .menu__list {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .menu__link {
        /* font-family: 'Arial';
        font-style: normal;
        font-weight: 400; */
        font-size: 32px;
        line-height: 160%;

        /* color: #545454; */
    }

    /* ---------------------------- */

    /* Header styles end */

    /* Main styles start */

    .main__content {
        padding: 43px 0 42px;

        gap: 41px;
    }

    .title {
        font-size: 24.5px;
    }

    .cards-container {
        height: 1366px;
        overflow: hidden;
    }

    .navigation {
        gap: 10px;
    }

    /* Main styles end */

    /* Footer styles start */

    .footer__content {
        justify-content: center;
        gap: 25px;
    }

    .footer__contacts,
    .footer__locations {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer__locations {
        align-items: flex-start;
        gap: 40px;
    }

    .footer__contacts .title,
    .footer__locations .title {
        font-size: 25px;
        text-align: center;
    }

    .link_Boston,
    .link_London {
        font-size: 18.8px;
        text-align: left;
    }

    .footer__img-puppy {
        width: 260px;
        height: 269px;
    }

    /* popup */

    .popup__btn {
        left: 231px;
    }

    .popup__content {
        width: 240px;
        height: 341px;
    }

    .popup__img {
        display: none;
    }

    .popup__text {
        padding: 10px;
    }

    .popup__name {
        text-align: center;
    }

    .popup__type-breed {
        justify-content: center;
        align-items: center;
    }

    .popup__description {
        margin-bottom: 24px;
        text-align: justify;
    }

    .popup__list {
        gap: 6px;
    }

}

/* ----------------------  Media styles end -------------------------- */